<%= render 'shared/errors', obj: @booking %>
<div class="row">
  <div class="col-xs-12">
    <%= form_with model: @booking, :html => {class: "form-horizontal", role: "form"} do |f| %>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label "Имя" %>
        </div>
        <div class="col-sm-6">
          <%= f.text_field :name, class: "form-control", placeholder: "Имя", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :email %>
        </div>
        <div class="col-sm-6">
          <%= f.text_field :email, class: "form-control", placeholder: "Электронная почта", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label "Заезд" %>
        </div>
        <div class="col-sm-6 inline-fields">
            <%= f.date_select :start_date, class: "form-control", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label "Выезд" %>
        </div>
        <div class="col-sm-6 inline-fields">
          <%= f.date_select :end_date, class: "form-control", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit %>
        </div>
      </div>
    <% end %>
  </div>
</div>